/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

body{
    font-family:Arial, Helvetica, sans-serif ;
}

/* UTILITIES */

.container{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.bttn{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    border-color: white;
}

.big-bttn{
    padding: 10px;
}

.col{
    float: left;
}

/* HEADER */
header{
    width: 100%;
    background-color: #3161E0;
}

header .container img{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* NAV */

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    
}

/* /NAV */

header .bttn{
    position: absolute;
    right: 0;
    bottom: 0;

}
/* /HEADER */

/* JUMBOTRON */
.jumbotron{
    position: relative;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    height:500px;
    margin-bottom: 60px;
}

.jumbo-text{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding-top: 150px;
    color: white;
}

.jumbo-text h1{
    padding-bottom: 30px;
    font-size: 30px;
}

.jumbotron .jumbo-text .bttn{
    margin-top: 10px ;
}

.black-bttn{
    background-color: black;
    color: white;
}

/* MAIN */
main section.gray-bckgrnd{
    background-color: lightgray
}

.img-col{
    width: 60%;
}

main section .img-col img{
    width: 100%;
}

.text-col{
    width: 40%;
    padding-left: 160px;
}

section{
    padding-bottom: 50px;
}

.last-section{
    text-align: center;
}

.last-section .bttn{
    background-color: #8EA1E1;
}

/* FOOTER */

footer{
    background-color: black;
}

footer .container{
    padding-top: 50px;
}

footer .aside {
    width: 30%;
}

footer .side{
    width: 70%;
}

footer .side .ftr-nav{
    width: 25%;
}

footer h4 , footer h3{
    color: #778FE4;
}

footer .container .col ul {
    list-style: none;
}

footer .container .col ul li{
    padding: 10px 0;
}

footer .container .col ul li a{
    text-decoration: none;
    color:white ;
}